//colores:

$color-title: rgb(83, 229, 117);
$color-title2: rgb(4, 141, 36);
$color-textoinicio: rgb(191, 239, 202);
$color-textinferior: whitesmoke;
$color-link: rgb(2, 88, 22);
$color-hover: rgba(0,0,0,0.15);
$color-card: #ffffff;
$color-contenidop: #555555;
$color-read: #222222;
$color-readhover: #007bff;
$color-item: rgb(83, 229, 117);


//medidas
$med-primaria: 0.5rem;
$med-secundaria: 1rem;
$med-terciaria: 1.5rem;
$med-cuarta: 2rem;

$med-title: 4rem;
$med-textoinicio: 1.2rem;
$med-title2: 3rem;
$med-textseccion: 0.8rem;

$width-textoinicio: 40rem;
$width-bootstrap: 70rem;
$width-height: 40rem;
$med-varias: 0.8rem;
$med-notiimg: 10rem;
$med-servicioimg: 10rem;

$border-radius: 10%;
$border-radius1: 50%;

//deco
$text-align: center;
$text-deco: underline;
$font-title: "Merriweather", serif;
$font-texto: "Open Sans", sans-serif;
$position: relative;
$font-weight: bold;
$text-start: start;
$object-fit-size: cover;
$text-end: end;
$align-items: stretch;
$deco-card: hidden;
$deco-attachment: fixed;


//puntos de quiebre
$med-mobile: 768px;
$med-mobile1: 575px;








