@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;
@use "../componentes/navs" as *;


header{
    background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
    padding: $med-cuarta;

    @include tablet{
        max-width: auto;
        padding: auto;
    }
}

