@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;

/* Botón/Enlace de redirección */
.read-more-btn {
    margin-top: auto; /* Alinea el botón siempre al fondo de la tarjeta */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: $med-primaria;
    font-size: $med-secundaria;
    font-weight: 600;
    transition: background-color 0.2s ease;

    &:hover {
    background-color: $color-readhover;
    transform: translateX(0.5rem);
    }
}

.read-more-btn span {
margin-left: $med-primaria;
transition: transform 0.2s ease;
        }